<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Mongoose Flights</title>
</head>
<body>
  <h1> Available Flights as of <%= time %>
  </h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(f=> { %>
        <% console.log(f) %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td>
            <a href="/flights/<%= f._id %>">DETAILS</a>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</body>
</html>